
@media screen and (min-width: 1024px) {

    .logo{
        width: 140px;
        margin-left: 120px;
    }
   
    span#burguer {
        display: none;
    }
    
    nav{
        display: flex;
    }
    
    nav ul li#itens{
        display: none;
    }
    nav ul li a{
        text-decoration: none;
        color: #333;
        font-weight: 800;
        margin-right: 30px;
    }
    /* .login_btn{
        position: absolute;
        top: 100px;
        right: -100px;
    } */
    .btn{
        
    }
    .content{
        margin-left: 5%;
        max-width: 992px;
    }
    .content h1{
    }
    .content p{
        font-size: 24px;
        max-width: 700px;
    }
    #download_app_tv{
        text-align: center;
        width: 120px;
    }
    #download_app_mob{
        display: none;
    }
    nav > div.mob_menu{
        display: none;
    }
    .content .btn{
        text-align: center;
        margin-top: -40px;
        margin-left: -700px;
        padding: 15px 0;
        width: 180px;
    }
    .btn:hover{
        border-top-right-radius: 30px;
    }
    .feature_img{
        width: 800px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .feature_img.anim{
        animation-delay: 1.5s;
    }
    .anim{
        opacity: 0;
        transform: translateY(30px);
        animation: moveup 0.5s linear forwards;
    }
    
    @keyframes moveup {
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
        
    }
}


