*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
.logo{
    width: 140px;
    margin-left: -8px;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
}
.login_btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 500;
}
.btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    min-width: 180px;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #93e6f9, #0592f6);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}
.content{
    margin-top: 10%;
    max-width: 600px;
}
.content h1{
    font-size: 70px;
    color: #222;
    margin-left: -5px;
    font-size: calc(1.2vw + 1.2vh + 1.8em);
}
.content p{
    margin: 10px 0 30px;
    color: #333;
    font-size: calc(0.5vw + 0.5vh + 0.8em);
    font-weight: 400;
    animation-delay: 0.5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}
.btn:hover{
    border-top-right-radius: 30px;
}
.img_fundo {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 50%;
    z-index: -1;
    transform: translate(-50% , -50%);
}
.feature_img{
    width: 70%;
    max-width: 900px;
    /* width: 530px; */
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: -1;
}
.feature_img.anim{
    animation-delay: 1.5s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}

@media screen and (min-width: 992px) {
    #download_app_btn_tab {
        display: none;
    }
    menu#menu_tab {
        display: none;
    }
    span#burguer{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #download_app_btn_pc {
        display: none;
    }
    menu#menu_pc{
        display: none;
    }
    .btn {
        display: block;
        max-width: 280px;
        margin-top: 40px;
    }
    .login_btn {
        margin-right: 0px;
    }
    span#burguer {
        color: rgb(0, 219, 253);
        cursor: pointer;
        margin-left: -5px;
    }
    span.material-symbols-outlined{
        font-size: 42px;
    }
    menu#menu_tab ul li {
        list-style: none;
        margin: 10px -1px;
    }
    menu#menu_tab ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 700;   
    }
    menu{
        display: none;
    }
    .content p {
        font-weight: 700;
    }
    .anim {
        opacity: 1;
        animation: 0;
    }
    .feature_img {
        min-width: 350px;
        right: -5%;
        opacity: 80%;
    }
}